<div>
    <ol class="breadcrumb border-bottom">
        <li class="module_name flex-grow-1">student</li>
    </ol>
    <section class="content">
        <div class="element-wrapper">
            <h1 class="element-title">Student Application Form</h1>
            <div class="element-actions">
                <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#filter_student"
                    ng-click="distinct('Board')">
                    <i class="fas fa-filter mr-1"></i>filter student</button>
                <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#filter_Board"
                    ng-click="getBoardcount()">
                    <i class="fas fa-filter mr-1"></i>filter Board</button>
                <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#add_student"
                    ng-click="hideErrors('addstudent')">
                    <i class="fas fa-plus mr-1"></i>Add student</button>
            </div>
        </div>
        <div ng-if="error" id="error" class="alert alert-danger alert-white rounded">
            <div class="icon">
                <i class="fa fa-times-circle"></i>
            </div>
            <strong>Error</strong>
            <div>
                {{errorMsg}}
            </div>
        </div>
        <div ng-if="success" id="success" class="alert alert-success alert-white rounded">
            <div class="icon">
                <i class="fa fa-check-circle"></i>
            </div>
            <strong>Success</strong>
            <div>
                {{successMsg}}
            </div>
        </div>
        <div class="card mb-0 pb-0">
            <div class="standard-table-header">
                <div class="standard-table-filter border-bottom-0">
                    <div class="row">
                        <div class="col-md-9"> </div>
                        <div class="col-md-3 mt-2 mt-md-0 text-right">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" ng-model="page.searchBox" placeholder="Search"
                                    aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-gray-grad" type="button">
                                        <i class="fas fa-search mr-0"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body-padded">
                <div class="table-container">
                    <table class="table table-padded">
                        <thead>
                            <tr>
                                <th class="sort ascending">StudentId</th>
                                <th>firstName</th>
                                <th>lastName</th>
                                <th>dateOfBirth</th>
                                <th>emailId</th>
                                <th>mobileNo</th>
                                <th>sslcMark</th>
                                <th>hscMark</th>
                                <th>Cutoff</th>
                                <th>Board</th>
                                <th>SchoolName</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                ng-repeat="user in users | filter:page.searchBox | startFrom: page.currentPage*page.pageSize | limitTo:page.pageSize">
                                <td>{{user.StudentId}}</td>
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}}</td>
                                <td>{{user.dateOfBirth|date:"MM/dd/yyyy"}}</td>
                                <td>{{user.emailId}}</td>
                                <td>{{user.mobileNo}}</td>
                                <td>{{user.sslcMark}}</td>
                                <td>{{user.hscMark}}</td>
                                <td>{{user.Cutoff}}</td>
                                <td>{{user.Board}}</td>
                                <td>{{user.SchoolName}}</td>
                                <td data-title="Action" class="action-btn px-0">
                                    <button class="btn btn-link" data-toggle="modal" data-target="#edit_student"
                                        ng-click="load(user)">

                                        <a class="btn btn-primary-2 rounded-0 py-0">
                                            <i class="fas fa-edit mr-1"></i> edit
                                        </a>
                                    </button>
                                    <button class="btn btn-link" ng-click="delete(user)">
                                        <a class="btn btn-danger rounded-0 py-0">
                                            <i class="fas fa-trash-alt mr-1"></i> Delete
                                        </a>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-if="student" class="standard-table-footer">
                <div class="row">
                    <div class="col-sm-4">
                        <select class="per-page" ng-model="page.pageSize" ng-init="page.pageSize='5'"
                            id="page.pageSize">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <span>per page</span>
                    </div>
                    <div class="col-sm-8 text-right">
                        <span class="d-none">1-2 of 2</span>
                        <button class="arrow-btn " ng-disabled="!page.currentPage" ng-click="firstPage()">
                            <i class="fas fa-angle-double-left"></i>
                        </button>
                        <button class="arrow-btn" ng-disabled="!page.currentPage" ng-click="previousPage()">
                            <i class="fas fa-angle-left"></i>
                        </button>
                        <span class="span-box">{{currentPage+1}}</span>
                        <span class="span-count">of {{numberOfPages()}}</span>
                        <button class="arrow-btn" ng-disabled="page.currentPage >= getData().length/page.pageSize - 1"
                            ng-click="nextPage()">
                            <i class="fas fa-angle-right"></i>
                        </button>
                        <button class="arrow-btn"
                            ng-disabled="page.currentPage == Math.ceil(getData().length/page.pageSize) - 1"
                            ng-click="lastPage()">
                            <i class="fas fa-angle-double-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade " id="add_student" tabindex="-1" role="dialog" aria-labelledby="add_student_modal"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="add_student_modal">Add student details</h6>
                    <button type="button" class="close" aria-label="Close"
                        ng-click="closeModal('add_student','addstudent')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addstudent">
                        <div class="row">
                            <div class="form-group col-sm-6 mb-2">
                                <label>StudentId</label>
                                <input class="form-control" type="text" style="text-transform:uppercase"
                                    ng-model="incharge.StudentId" required>
                                <div class="invalid-feedback">
                                    please enter studentId
                                </div>
                            </div>

                            <div class="form-group col-sm-6 mb-2">
                                <label>firstName</label>
                                <input class="form-control" type="text" style="text-transform:uppercase"
                                    ng-model="incharge.firstName" required>
                                <div class="invalid-feedback">
                                    please enter firstName
                                </div>
                            </div>

                            <div class="form-group col-sm-6 mb-2">
                                <label>lastName</label>
                                <input class="form-control" type="text" style="text-transform:uppercase"
                                    ng-model="incharge.lastName" required>
                                <div class="invalid-feedback">
                                    please enter your lastName
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mb-2">
                                <label>dateOfBirth</label>
                                <input class="form-control" type="date" style="text-transform:date"
                                    ng-model="incharge.dateOfBirth" required>
                                <div class="invalid-feedback">
                                    please enter your dateOfBirth
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6 mb-2">
                                <label>mobileNo</label>
                                <input class="form-control" type="number" ng-model="incharge.mobileNo" required>
                                <div class="invalid-feedback">
                                    please enter mobileNo
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mb-2">
                                <label>emailId</label>
                                <input class="form-control" type="text" style="text-transform:lowercase"
                                    ng-model="incharge.emailId" required>
                                <div class="invalid-feedback">
                                    please enter emailId
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mb-2">
                                <label>sslcMark</label>
                                <input class="form-control" type="number" style="text-transform:number"
                                    ng-model="incharge.sslcMark" required>
                                <div class="invalid-feedback">
                                    please enter sslcMark
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mb-2">
                                <label>hscMark</label>
                                <input class="form-control" type="number" style="text-transform:number"
                                    ng-model="incharge.hscMark" required>
                                <div class="invalid-feedback">
                                    please enter hscMark
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mb-2">
                                <label>Cutoff</label>
                                <input class="form-control" type="number" style="text-transform:number"
                                    ng-model="incharge.Cutoff" required>
                                <div class="invalid-feedback">
                                    please enter Cutoff
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mb-2">
                                <label>Board</label>
                                <input class="form-control" type="text" style="text-transform:lowercase"
                                    ng-model="incharge.Board" required>
                                <div class="invalid-feedback">
                                    please enter your Board
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mb-2">
                                <label>SchoolName</label>
                                <input class="form-control" type="text" style="text-transform:lowercase"
                                    ng-model="incharge.SchoolName" required>
                                <div class="invalid-feedback">
                                    please enter your SchoolName
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        ng-click="closeModal('add_student','addstudent')">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="add()">
                        <i class="fas fa-save mr-2"></i>Add
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <!-- <div class="modal fade " id="delete_student" tabindex="-1" role="dialog" aria-labelledby="delete_student_modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="delete_student_modal">delete student</h6>
                    <button type="button" class="close" aria-label="Close" ng-click="closeModal('delete_student','deletestudent')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="deletestudent">
                        <div class="row">
                            <div class="form-group col-sm-6 mb-2">
                                <label>firstName</label>
                                <input class="form-control" type="text" style="text-transform:uppercase" ng-model="incharge.firstName" required>
                                <div class="invalid-feedback">
                                    please enter firstName
                                </div>
                            </div>
    
                            <div class="form-group col-sm-6 mb-2">
                                <label>lastName</label>
                                <input class="form-control" type="text" style="text-transform:uppercase" ng-model="incharge.lastName" required>
                                <div class="invalid-feedback">
                                    please enter student lastName
                                </div>
                            </div>
    
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6 mb-2">
                                <label>MobileNo</label>
                                <input class="form-control" type="number" ng-model="incharge.mobileNo" required>
                                <div class="invalid-feedback">
                                    please enter student MobileNo
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mb-2">
                                <label>emailId</label>
                                <input class="form-control" type="email" style="text-transform:lowercase" ng-model="incharge.emailId" required>
                                <div class="invalid-feedback">
                                    please enter student emailId
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mb-2">
                                <label>sslcMark</label>
                                <input class="form-control" type="number" style="text-transform:lowercase" ng-model="incharge.sslcMark" required>
                                <div class="invalid-feedback">
                                    please enter sslcMark
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mb-2">
                                <label>hscMark</label>
                                <input class="form-control" type="number" style="text-transform:lowercase" ng-model="incharge.hscMark" required>
                                <div class="invalid-feedback">
                                    please enter hscMark
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mb-2">
                                <label>Cutoff</label>
                                <input class="form-control" type="number" style="text-transform:lowercase" ng-model="incharge.Cutoff" required>
                                <div class="invalid-feedback">
                                    please enter Cutoff
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mb-2">
                                <label>Board</label>
                                <input class="form-control" type="text" style="text-transform:lowercase" ng-model="incharge.Board" required>
                                <div class="invalid-feedback">
                                    please enter your Board
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mb-2">
                                <label>SchoolName</label>
                                <input class="form-control" type="text" style="text-transform:lowercase" ng-model="incharge.SchoolName" required>
                                <div class="invalid-feedback">
                                    please enter your SchoolName
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="closeModal('delete_student','deletestudent')">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="deletestudent()">
                        <i class="fas fa-save mr-2"></i>delete
                    </button>
                </div>
            </div>
        </div>
    </div>-->
    <div class="modal fade " id="edit_student" tabindex="-1" role="dialog" aria-labelledby="edit_student_modal"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="edit_student_modal">edit student</h6>
                    <button type="button" class="close" aria-label="Close"
                        ng-click="closeModal('edit_student','editstudent')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editstudent">
                        <div class="row">
                            <div class="form-group col-sm-6 mb-2">
                                <label>StudentId</label>
                                <input class="form-control" type="text" style="text-transform:uppercase"
                                    ng-model="incharge.StudentId" required>
                                <div class="invalid-feedback">
                                    please enter studentId
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mb-2">
                                <label>firstName</label>
                                <input class="form-control" type="text" style="text-transform:uppercase"
                                    ng-model="incharge.firstName" required>
                                <div class="invalid-feedback">
                                    please enter firstName
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6 mb-2">
                                <label>lastName</label>
                                <input class="form-control" type="text" style="text-transform:uppercase"
                                    ng-model="incharge.lastName" required>
                                <div class="invalid-feedback">
                                    please enter student lastName
                                </div>
                            </div>

                            <div class="form-group col-sm-6 mb-2">
                                <label>dateOfBirth</label>
                                <input class="form-control" type="date" style="text-transform:date"
                                    ng-model="incharge.dateOfBirth" required>
                                <div class="invalid-feedback">
                                    please enter your dateOfBirth
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-sm-6 mb-2">
                                <label>MobileNo</label>
                                <input class="form-control" type="number" ng-model="incharge.MobileNo" required>
                                <div class="invalid-feedback">
                                    please enter student MobileNo
                                </div>
                            </div>


                            <div class="form-group col-sm-6 mb-2">
                                <label>emailID</label>
                                <input class="form-control" type="email" style="text-transform:lowercase"
                                    ng-model="incharge.emailID" required>
                                <div class="invalid-feedback">
                                    please enter student emailID
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6 mb-2">
                                <label>sslcMark</label>
                                <input class="form-control" type="number" style="text-transform:lowercase"
                                    ng-model="incharge.sslcMark" required>
                                <div class="invalid-feedback">
                                    please enter sslcMark
                                </div>
                            </div>


                            <div class="form-group col-sm-6 mb-2">
                                <label>hscMark</label>
                                <input class="form-control" type="number" style="text-transform:lowercase"
                                    ng-model="incharge.hscMark" required>
                                <div class="invalid-feedback">
                                    please enter hscMark
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6 mb-2">
                                <label>Cutoff</label>
                                <input class="form-control" type="number" style="text-transform:lowercase"
                                    ng-model="incharge.Cutoff" required>
                                <div class="invalid-feedback">
                                    please enter Cutoff
                                </div>
                            </div>


                            <div class="form-group col-sm-6 mb-2">
                                <label>Board</label>
                                <input class="form-control" type="text" style="text-transform:lowercase"
                                    ng-model="incharge.Board" required>
                                <div class="invalid-feedback">
                                    please enter your Board
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6 mb-2">
                                <label>SchoolName</label>
                                <input class="form-control" type="text" style="text-transform:lowercase"
                                    ng-model="incharge.SchoolName" required>
                                <div class="invalid-feedback">
                                    please enter your SchoolName
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        ng-click="closeModal('edit_student','editstudent')">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="update(users)">
                        <i class="fas fa-save mr-2"></i>edit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade " id="filter_student" tabindex="-1" role="dialog" aria-labelledby="filter_student_modal"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="filter_student_modal">Filter student details</h6>
                    <button type="button" class="close" aria-label="Close"
                        ng-click="closeModal('filter_student','filterstudent')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="filterstudent">
                        <div class="row">
                            <div class="form-group col-sm-6 mb-2">
                                <label>Board</label>
                                <select ng-model="filters.userSelect" ng-options="x for x in distinctboard" required>
                                    <option value="" disabled selected>--Select--</option>
                                </select>
                                <div class="invalid-feedback">
                                    filter board details
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        ng-click="closeModal('filter_student','filterstudent')">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="filter()">
                        <i class="fas fa-search mr-2"></i>Search
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="modal fade " id="filter_Board" tabindex="-1" role="dialog" aria-labelledby="filter_Board_modal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="filter_Board_modal">Board count</h6>
                        <button type="button" class="close" aria-label="Close"
                            ng-click="closeModal('filter_Board','filterBoard')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-padded">
                            <thead>
                                <tr>
                                
                                    <th>Board</th>
                                    <th>count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    ng-repeat="user in Board | filter:page.searchBox | startFrom: page.currentPage*page.pageSize | limitTo:page.pageSize">
                                    <td>{{user._id.Board}}</td>
                                    <td>{{user.count}}</td>
                                    <td data-title="Action" class="action-btn px-0">
                                        <button class="btn btn-link" data-toggle="modal" data-target="#filter_Board"
                                            ng-click="getBoardcount()">
    
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            ng-click="closeModal('filter_Board','filterBoard')">Close</button>
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-filter mr-2">filterBoard</i>
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
</div>